[2020-09-23 05:29] softmarshmallow opened #2 "plans for migration for universal platform support? (for the community)"
https://github.com/luanpotter/audioplayers/issues/489

Do you have plans on merging this project into [luanpotter/audioplayers](https://github.com/luanpotter/audioplayers)?

[2020-09-23 16:49] alexmercerind commented on #2
Hi @softmarshmallow !
Why not!
I made this plugin for myself & shared it for other people on GitHub. As, at the moment, there is not any audio library for Flutter Windows & Linux... So I made one myself.
I will definitely love to provide my support to other plugins out there for adding Windows & Linux support.
It's all in C++ & same code compatible with both Linux & Windows.

[2020-09-23 17:14] alexmercerind commented on #2
But I feel that it's not going to be easy. As C++ & it's libraries aren't most user friendly like other languages. My this project right now is very basic in functionality & just does what it says. I'll try to add more stuff in terms of functionality with time.

[2020-09-23 18:22] #2 closed

[2020-09-24 13:00] alexmercerind commented on #2
@softmarshmallow, I'll be providing my support for [just_audio](https://github.com/ryanheise/just_audio) first... as I talked to him about this before & he's nice guy so.

I'm already using his [audio_service](https://github.com/ryanheise/audio_service) & [just_audio](https://github.com/ryanheise/just_audio). So, it will be kinda easier for me to deal.

[2020-09-25 01:45] softmarshmallow commented on #2
Thanks alot! Great work. Me 18 also.. ha.

[2020-09-29 15:28] humble-git opened #3 "When play() is executes it shows audio channels instead of playing audio"
Hello,
I'm trying to use your plugin in my Windows app, but when i run the play() the terminal displays my audio channels instead of playing actual sounds as follows. Is there any way to choose channel while playing?

[code]

[2020-09-29 15:33] alexmercerind commented on #3
My machine only has one audio device... So I never experienced this. I think I should add a device selection.
It picks the first device by default (which is probably not right in your setup).

[2020-09-29 15:56] humble-git commented on #3
Appreciate your help.

[2020-09-30 11:01] alexmercerind commented on #3
👋 Hello @humble-git !

I added a simple method to change the audio playback device. You can confirm the fix by running plugin from the [vnext](https://github.com/alexmercerind/flutter_audio_desktop/tree/vnext) branch.

**Let me know if audio plays for you now.** You can pass ```debug:true``` while initiating the AudioPlayer class for additional logs.

You gave me YOUR SETUP as follows:
[code]

I t

[2020-09-30 11:09] alexmercerind commented on #3
Hi @humble-git,

You can test the simple example made by me directly as follows: (Don't forget to change the deviceIndex as 3 in following line)

https://github.com/alexmercerind/flutter_audio_desktop/blob/738a9e0c869f37028cdaeaac437f58884b1b24af/example/lib/main.dart#L84

[code]
[code]
[code]
[code]
[code]

[2020-09-30 11:10] alexmercerind commented on #3
Closing this one. Feel free to leave feedback or reopen.

[2020-09-30 11:10] #3 closed

[2020-10-23 07:32] stonega opened #4 "Method setPosition() unstable"
Hi, @alexmercerind
Thanks for the plugin, it is simple, but decent and worked well.
I find that when the duration in `setPosition()` is longer more than like 20 mins or tap fast forward many times in short time, the plugin will crash.
Also change position take too long time and have some noisy sound.

![image](https://user-images.githubusercontent.com/2262007/96969108-86e44b80-1544-11eb-826c-09716

[2020-10-24 04:34] alexmercerind commented on #4
Hello @stonega!
I'm literally 0% sure about the cause of the bug because I have used @mackron's miniaudio in this project, and made a very simple implementation over it.

I have to see what can I do.
I can't tell if my code is problematic as I always just played files of maximum about 5 minutes.

[2020-10-27 00:58] JasonWULMS opened #5 "If you play long audio, the performance of the whole program will be greatly affected. I wonder if you have found this problem"
If you play long audio, the performance of the whole program will be greatly affected. I wonder if you have found this problem

[2020-11-08 13:55] DomingoMG opened #6 "Could you collaborate with this repository?"
It would make me very happy to be able to use assets_audio_player with its implementation on Windows.

In assets_audio_player supported by Mac, you can parse the operation for implementation.

I hope I can count on you @alexmercerind for this collaboration.

https://github.com/florent37/Flutter-AssetsAudioPlayer/issues/386
https://github.com/florent37/Flutter-AssetsAudioPlayer

[2020-11-09 12:59] alexmercerind commented on #6
👋 Greetings @DomingoMG !

I'll be really happy to add support to assets_audio_player for Windows & Linux.
But **I can only add the features which I have added here in my project only**, because:
- I'm using miniaudio for playing audio on both Windows & Linux. There aren't many good libraries for playing audio in C++, most are game engine oriented. I cannot add network streaming. The ones which are

[2020-11-09 13:04] alexmercerind commented on #6
In other words, I'm not the most talented person to choose for collaboration. There are many other C++ experts out there. But, if you wanna see the features that I already have here, then I might help.
Even before that, I would like to have an confirmation from you if this library is even working on your PC as there isn't much testing that I have performed.
Thankyou.

[2020-11-09 17:56] DomingoMG commented on #6
👋 @alexmercerind

Your library works fine for me.
- Windows 10 Professional 64 Bits.

I have checked an error with the path:
It works satisfactorily:
D: \ Audios \ Regueton \ Abraham Mateo - Loco Enamorado.mp3
It does not work correctly:
D: \ Audios \ Regueton \ Abraham Mateo - A Cámara Lenta.mp3 => á

I am 23 years old, I have no knowledge of C ++, only Java, Php, Dart, Javascript. I don't mind c

[2020-11-09 18:02] DomingoMG commented on #6
I know we do not have much knowledge but you have already achieved the minimum to make it functional, little by little we will achieve it. 💪

[2020-11-09 20:59] beevelop commented on #6
Wow man, you are both awesome @DomingoMG & @alexmercerind. Can the whole NeoSEALs team and I be of any assistance with this challenge? Let's make this happen 🚀

[2020-11-16 01:49] MichealReed opened #8 "Support Multiple Players"
I have a PR ready to go to add support for multiple audio players, it based off of my other PR for wave generation though so I will need to wait for that to land. I added an id parameter to all of the C++ functions, but in dart it is only required when instantiating the object. To do this, I changed argument handling so we can easily send maps from dart to C++;

I.E
[code]

You can preview the cha

[2020-11-16 01:54] MichealReed commented on #6
It seems that this project provides a better base for support of all platforms. May be better served to add additional platform support / features here versus focusing efforts on the AssetsAudioPlayer library.

[2020-11-16 01:59] MichealReed opened #9 "Include miniaudio.h"
Given the license of miniaudio, it would make sense to include the file here directly. Currently, users are required to find the file and copy it to their temporary pubspec folder before they can use this package. Bots could probably automate updates to the file here from the main repository, but manual may be better for now.

[2020-11-16 06:40] alexmercerind commented on #9
Hi @MichealReed,

Nice to meet you. I'm not checking miniaudio.h into the source, because it is a very large file & I don't want to include someone else's work into my repository, since this is just for development. The plugin on the [pub.dev](https://pub.dev/flutter_audio_desktop) already contains miniaudio for the users.

Thankyou.

[2020-11-16 06:40] #9 closed

[2020-11-16 06:46] alexmercerind commented on #8
Thankyou. I didn't work for that. Feel free to contribute and mention yourself in the project's README.
Can I add you as an collaborator on the repository?

One more thing, I wanna say is that, if there is some other more-capable library (other than miniaudio), then please let me know. I settled for using miniaudio because it was in public domain, though we know its not most feature rich.
Apart fr

[2020-11-16 15:06] MichealReed commented on #9
Odd, I had to manually add it to the folder pub get created, it was not automatically present for me.

[2020-11-16 15:10] MichealReed commented on #8
After spending a decent amount of time searching, I think miniaudio is a great library for cross-platform audio. Not only can we build for mobile using it, but we can also build with WASM for web. With a bit more effort, I think this packing has a chance of becoming the most popular used for audio. Another package could even include the experimental engine makron is working on for a more rich feat

[2020-11-19 16:28] MichealReed opened #11 "Set device to system default in constructor."
Miniaudio has https://github.com/mackron/miniaudio/issues/126, which we can use to automatically set the playback device to the system default. Will implement this as soon as https://github.com/alexmercerind/flutter_audio_desktop/pull/10 lands.

[2020-11-19 17:27] alexmercerind commented on #11
Really Awesome! This actually was really annoying for the people who had more than one audio cards & there really wasn't a way to get the preferred one till now.

[2020-11-19 17:34] alexmercerind commented on #11
I don't know if you know it yet or not, but I made this library for my personal usage as there wasn't any library to play audio on Flutter Windows & Linux (this is the only one still).
I don't have any CS degree, I just like to code & make stuff. And I didn't really work on this since then, as we know C++ isn't easy compared to other languages out there (neither I have too deep knowledge... It's w

[2020-11-19 18:05] MichealReed commented on #11
Definitely don't stop coding, you have done a great job here, even more-so with the above considered. I think this package can become a very popular package within the flutter community, especially if we continue to add tests, expand platform compatibility and add features like recording. Really appreciate you building this, I was looking for a way to synthesize audio on desktop and this, along wi

[2020-11-21 16:40] MichealReed opened #13 "Crash when loading new file or wave."
Not sure the root cause of this yet. Secondary calls to load audio, files or waves will cause a crash.

[2020-11-21 16:40] MichealReed commented on #8
Merged here: https://github.com/alexmercerind/flutter_audio_desktop/pull/10

[2020-11-21 16:40] #8 closed

[2020-11-25 17:46] #11 closed

[2020-11-30 18:43] Gregor14 opened #17 "Pointer to temporary object"
Hello,
I just start to familiarise with your code (due my own problems with miniaudio I try to see, how other people done this). Probably I found error in audioplayer.hpp.

https://github.com/alexmercerind/flutter_audio_desktop/blob/8f5f066acb47783074cc5c7ab569c7d898fd89f3/audioplayer/audioplayer.hpp#L123-L126

ma_device_id is an union. In function initDevice and in initDeviceWave is passed such u

[2020-11-30 20:46] MichealReed commented on #17
Thanks for looking over the code, please feel free to make comments regarding code aesthetics or conventions as well. Ah yes, that does look a little odd, thanks for finding that. It should not cause any issues though, deviceConfig doesn't even necessarily need to be persistent either. After init is ran any changes to device config requires re-initialization. Feel free to submit a PR with a better

[2020-12-07 20:57] gnudles opened #19 "getting error massage"
great plugin, man!
I was waiting for something like that. finally desktop audio playback for desktops.
the thing is, I'm using linux and I get the following error:
Unhandled Exception: MissingPluginException(No implementation found for method init on channel flutter_audio_desktop)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:157:7)

which sounds very stra

[2020-12-07 21:19] gnudles commented on #19
oh I think I got it. you wrote "if" instead of "else if".
my local file was probably older from your latest revision.
I can see the bug is fixed in your latest revision. please update your plugin in pub.dev

[2020-12-07 21:35] #19 closed

[2020-12-08 03:12] alexmercerind commented on #19
Yeah! I'll update pub.dev version with new Additions from @MichealReed. These new additions are added by him.

[2020-12-12 17:43] 12people opened #20 "Support asset files"
It seems like right now, only local files are supported, not asset files. (At the very least, I'm not able to get asset files working.)

Would you be willing to add asset file playing as a feature? Or, if this functionality exists already, could you add a mention to the README or the example project?

Thank you for this project!

[2020-12-15 06:57] gkovac42 opened #21 "Using 2nd instance of AudioPlayer crashes the app"
Whenever I try to use 2 instances of AudioPlayer on the same screen it crashes the app without any errors in the logs. It happens both on 0.0.7 and 0.0.8 with distinct ids passed to AudioPlayer's constructors.

[2020-12-15 07:25] alexmercerind commented on #21
#13 is a potential duplicate.

[2020-12-15 17:12] MichealReed commented on #21
Could you please provide more info? I have successfully used over 1,000 instances on the same screen. Are you trying to use load twice on the same instance as mentioned in the issue @alexmercerind referenced?

edit: a snippet from your code would help.

[2020-12-17 04:51] yiky84119 commented on #21
same issue.

`
static void play() async {
    final audioPlayer = new AudioPlayer(id: 0);
    await audioPlayer.load('./assets/audio/warning.mp3');
   await audioPlayer.play();
 }
`

method play(), call twice or more, then crash.

[2020-12-17 04:58] yiky84119 commented on #21
![1](https://user-images.githubusercontent.com/3356845/102445881-7beef880-4067-11eb-9551-60e344ddbe84.png)

[2020-12-17 05:00] yiky84119 commented on #21
it's work fine using single instance of AudioPlayer

[2020-12-17 05:12] alexmercerind commented on #21
@yiky84119 thanks for info.

[2020-12-17 15:47] MichealReed commented on #21
@yiky84119 please open a separate issue for this if it persists, you are not using two audio players in the code example you provided. It seems you are creating the object player, loading the media, and playing all in one method. You shouldn't do this and should keep play separate, with the object construction and load method in init or another method that is only called once.

[2020-12-18 08:41] gkovac42 commented on #21
@MichealReed Sorry for the late reply. Here is my code:

[code]

On 0.0.7 using just one instance of the player works just fine, but as soon as I try to use both on the same screen the app will crash. On 0.0.8 I get this error as soon as the app launches and then it crashes:

![ss1](https://user-images.githubusercontent.com/23480045/102593440-2ffa8d00-4115-11eb-8fcd-c9a79f2642d7.jpg)

[2020-12-18 15:49] MichealReed commented on #21
As with the other comment here, your play button is not only calling play, it also calls load. https://github.com/alexmercerind/flutter_audio_desktop/issues/13

Also, please be sure to use the "new" keyword when generating new instances.

[2020-12-18 15:49] #21 closed

[2020-12-18 16:00] gkovac42 opened #22 "Playing multiple audio files"
I am forced to open another issue as my previous one was brashly closed without a proper explanation or solution, and has only left me confused. (https://github.com/alexmercerind/flutter_audio_desktop/issues/21)

How am I to play multiple audio files if I'm not supposed to call load on the same instance of AudioPlayer twice and creating multiple instances of AudioPlayer crashes the app?

[2020-12-18 16:06] alexmercerind commented on #22
Hi there @gkovac42!
Sorry for the inconvenience.
I'll take a look at the issue. In fact you are right on your point. The crash should not take place when calling load twice on an instance.
I'll try to make commit with a fix soon.
Thankyou 🍀 !

[2020-12-18 16:07] #17 closed

[2020-12-18 16:24] MichealReed commented on #22
Opening a new issue is not the key here, and issues aren't meant to be a help forum, they are meant to allow us to fix genuine issues with the library. Before closing your issue, I successfully tested loading many audioplayers again, and more specifically two different MP3, playing through the same and different audio devices.

I suggest that you refactor your code with suggestions from the previo

[2020-12-18 16:46] #22 closed

[2020-12-18 16:49] MichealReed commented on #22
One point of clarity, I did not mean that load can't be called twice on different instances, but more-so that you shouldn't call load more than once on the same instance. As mentioned in the previous issue, the posted code was calling play and load in the same method, so every time the play button was pressed, it would trigger a crash due to the second call to load on the same instance. Load and P

[2020-12-18 18:49] gkovac42 opened #23 "Multiple instances of AudioPlayer don't work"
To one @MichealReed, as you seem to be missing my point and closing issues on wrong grounds repeatedlly. My problem is not with calling the load or play methods multiple times (these work just fine on 0.0.7), it is with instantiating 2 or more instances of the AudioPlayer with ids on 0.0.8, with or without new keyword. Under those circumstances the app will crash on startup before load / play is e

[2020-12-18 19:16] MichealReed commented on #23
Let me state again, this crash cannot be reproduced in the example (which uses multiple players) or in a personal project that uses 1,000 players. I did not close the last issue, but please avoid making more like this. You have provided little code, no information about your flutter version, and very little guidelines for reproduction. It seems you are trying to figure out how to properly use the

[2020-12-18 19:16] #23 closed

[2020-12-18 22:37] MichealReed commented on #4
@stonega this may be fixed with the latest version of miniaudio --(https://github.com/mackron/miniaudio/blob/master/miniaudio.h

Can you try dropping that into your pub cache folder for this library?
Windows path -- User\AppData\Roaming\Pub\Cache\hosted\pub.dartlang.org\flutter_audio_desktop-0.0.8\audioplayer

[2020-12-20 10:23] GrimDevStudio opened #24 "Audio doesn't work for release build"
Hello, I'd like to say that the plugin is great and works just as expected when running an app from the IDE (Android Studio) but for some reason whenever I run a release build (produced with flutter build windows) there is no sound at all and no errors to go by. Am I missing something?

[2020-12-20 12:10] a103456a commented on #24
I encountered the same problem, it seems that the plugin fails to load audio files from assets in release build.

[2020-12-20 15:12] MichealReed commented on #24
Tested release with example, all seems to be in order. Please experiment with the example, or edit the original post here with more specifics on how to reproduce your case.

[2020-12-20 16:31] alexmercerind commented on #24
@a103456a, How did you play audio file from assets? I don't think you provided a "dynamic path" to read it, possibly you just entered path of audio file stored in your app's development folder, which obviously won't play if you move or change location of that development folder (and neither your app's users will be able to play, as that file won't be on the specified location in their PC).

[2020-12-20 16:47] MichealReed commented on #24
https://pub.dev/packages/dart_app_data is a good package for finding/setting folders for this purpose across platforms.

[2020-12-20 19:30] GrimDevStudio commented on #24
I tried tinkering with it and I can confirm that audio starts working if you place the "assets" folder into the root folder of the release build. But that's not where flutter builder places them ("data/flutter_assets"). I. e. image and other assets work just fine where they are placed by the builder. I don't know if it's an issue with the flutter itself or this plugin, but it sure is confusing.

[2020-12-21 07:19] a103456a commented on #24
@MichealReed  @alexmercerind  I provided a dynamic path to read my audio files (just like the way accessing picture or font assets), but still doesn't work. After moving them to the same folder with the .exe file, everything goes well.

Thanks for answering!

[2020-12-21 14:17] GrimDevStudio commented on #24
Yes, I can confirm that this works also. Not sure if it's a bug with flutter itself or this plugin, but it sure is confusing, since all other assets (images, fonts, etc.) work out of the box.

[2020-12-21 14:29] alexmercerind commented on #24
Hi there @GrimDevStudio!
Its not a problem with this plugin, neither with the Flutter engine.
As you know, that we mention assets of a Flutter project in pubspec.yaml, but its not the case with this plugin, because this plugin isn't playing "an asset" but "a file stored on your PC".
We'll plan to add assets support in newer versions. For now, just keep the assets near the final build of your app (

[2020-12-21 14:33] GrimDevStudio commented on #24
Ah, ok, I was not implying that there is a problem, just that it can be confusing for some users. It might not be a bad idea to add this bit of information to the documentation somewhere (apologies if it's already there, but I couldn't find it). Anyways, good work!

[2020-12-21 15:27] #24 closed

[2021-01-03 13:31] stonega commented on #4
@MichealReed I tested with the latest version, looks like the issue is still there. Thanks for your reply!

[2021-01-06 10:10] UdithaIshan opened #25 "Play songs one after another"
How can I play multiple songs one after another using this? @alexmercerind

[2021-01-06 10:58] alexmercerind commented on #25
Hi @UdithaIshan !

Not the best solution, but you may use `getDuration` from the AudioPlayer class & `Timer` from `dart:async` to detect when a track ends & start playing another audio that time.

This library is a very minimal implementation over miniaudio, even streams aren't added yet. You are supposed to make your own playback logic in dart.

Thankyou.

[2021-01-06 12:49] UdithaIshan commented on #25
@alexmercerind  I also thought about that, but then we can't use the ` pause method` on it.
And I appreciate your work on implementing this.

Cheers 🍻

[2021-01-06 13:17] alexmercerind commented on #25
@UdithaIshan, ah I see.

I'll try to do something regarding this in future.

[2021-01-07 15:12] Elblassy opened #26 "Repeat sound"
I try to repeat sound by listen when sound end and play it again but it can't , so how can i repeat sound

[2021-01-07 15:26] Elblassy commented on #26
I see that you type a comment in stop i should load file again and i do that and it work , thank you for your effort in this plugin

[2021-01-08 12:49] Elblassy commented on #26
I face issue when call play sound in listen of stream the app crash and don't get any error, all i want to do is to repeat sound , any help please

[2021-01-08 13:26] Elblassy commented on #26
i solve it by timer and provider , but i wish you can add function for repeat without load file again

[2021-01-08 13:28] Elblassy commented on #26
sometimes get same error and lost connection without any debug message

[2021-01-08 22:05] Elblassy commented on #26
I solve it by making the object of audioplayer in singleton and access it with it , i don't know why it working only when i use singleton for the object

[2021-02-27 12:54] alexmercerind commented on #4
Hi there @stonega !

The issue is fixed in the [vnext](https://github.com/alexmercerind/flutter_audio_desktop/tree/vnext) branch.

Now, no longer whole file will be loaded into memoery, but in segments (as a stream).

I'll inform you real soon, once I get it working on Windows (will be very easy to do, as Linux implementation is already done).

Thankyou.

[2021-02-27 12:54] alexmercerind commented on #5
@JasonWULMS

The issue is fixed in the [vnext](https://github.com/alexmercerind/flutter_audio_desktop/tree/vnext) branch.

I'll inform you once, its ready.

[2021-02-27 12:57] alexmercerind commented on #25
Hi there @UdithaIshan!

I know I'm very late to reply on this.
But this issue is under progress in the [vnext](https://github.com/alexmercerind/flutter_audio_desktop/tree/vnext) now.

Now, one can listen to playback events, which will help me add things like playlists, looping etc. Windows implementation coming real soon.

Thanks

[2021-02-27 12:59] alexmercerind commented on #26
Hi there @Elblassy !

I know I'm very late to reply on this, apologies.

But this issue is under progress in the [vnext](https://github.com/alexmercerind/flutter_audio_desktop/tree/vnext) now.

Now, one can listen to playback events, which will help me add things like playlists, looping etc. Windows implementation coming real soon.

Issue #25 is exactly same as this issue. So, let's target this is

[2021-02-27 12:59] #26 closed

[2021-02-27 13:08] stonega commented on #4
Glad to hear that, can not wait to have a test. I have switched to use
Linux these days😉

On Sat, Feb 27, 2021, 20:54 Hitesh Kumar Saini <notifications@github.com>
wrote:

[2021-03-01 07:41] alexmercerind commented on #20
Okay... This issue is fixed under vnext branch.

Sorry for the delay.
I'm back to development.

[2021-03-04 11:38] alexmercerind commented on #20
Now plugin supports assets.

Load assets into `AudioPlayer` as follows:

[code]

Supported on both Windows & Linux.

[2021-03-04 11:38] #20 closed

[2021-03-04 11:40] alexmercerind commented on #4
Hi there @stonega !

May you try out the plugin now on Windows or Linux?

Try running example.
There are few API changes.

I'm yet to implement playlists or queues, should be pure Dart side code.

Although, I feel there is still some delay in seeking the file. I'm not sure how better it can be now.

Please clone the repo & build the example. Let me know how it goes.
Closing for now.

[2021-03-04 11:40] alexmercerind commented on #5
Hi there!

Now `miniaudio_engine` is used for streaming based playback.

Issue should be fixed now.

[2021-03-04 11:40] #5 closed

[2021-03-04 11:55] alexmercerind commented on #13
Hi there @MichealReed !
(Oh that's so formal 😅 )

I feel this should be resolved now.

Try building the example.
Calling load on same player instance, or different player instances even simultaneously should be fixed.

Thanks.

I'm yet to implement playlists, should be pure Dart side code.

Thanks for your incredible help.

(I'm yet to decide on waves...)

[2021-03-04 11:56] #13 closed

[2021-03-04 11:58] #4 closed

[2021-03-05 07:56] syleishere opened #28 "Checked out github version today and got following error"
Building Windows application...
C:\flutter\musicplayer\windows\flutter\ephemeral\.plugin_symlinks\flutter_audio_desktop\audioplayer\audioplayer.hpp(7,10): fatal error C1083: Cannot open include file: 'miniaudio/miniaudio.h': No such file or directory [C:\flutter\musicplayer\build\windows\plugins\flutter_audio_desktop\flutter_audio_desktop_plugin.vcxproj]
Exception: Build process failed.

[2021-03-05 08:01] alexmercerind commented on #28
Hi there @syleishere !
Sorry for the inconvenience.
It's not an error, it's because a file isn't checked into the version control.

A new version to pub.dev is just published, please try that out. (Not from GitHub)

Thanks.
Let me know how that goes for you.

[2021-03-05 08:12] alexmercerind commented on #28
@syleishere
👀 Did your issue get resolved?

[2021-03-05 08:16] syleishere commented on #28
Nope this happening

[2021-03-05 08:16] syleishere commented on #28
Building Windows application...
C:\flutter\musicplayer\windows\flutter\ephemeral\.plugin_symlinks\flutter_audio_desktop\audioplayer\audioplayer.hpp(7,10): fatal error C1083: Cannot open include file: 'miniaudio/miniaudio.h': No such file or directory [C:\flutter\musicplayer\build\windows\plugins\flutter_audio_desktop\flutter_audio_desktop_plugin.vcxproj]
Exception: Build process failed.

[2021-03-05 08:17] syleishere commented on #28
I did change my dependency:
  flutter_audio_desktop: ^0.0.9
  #flutter_audio_desktop:
  #  git:
  #    url: https://github.com/alexmercerind/flutter_audio_desktop

but getting same error for some reason

[2021-03-05 08:17] syleishere commented on #28
flutter_audio_desktop: ^0.0.9
  #DISABLED GIT
  #flutter_audio_desktop:
  #git:
  #url: https://github.com/alexmercerind/flutter_audio_desktop

[2021-03-05 08:19] alexmercerind commented on #28
@syleishere please use the pub.dev version 0.1.0

[2021-03-05 08:21] alexmercerind commented on #28
@syleishere

[code]

[2021-03-05 08:21] syleishere commented on #28
That works, thank-you.

[2021-03-05 08:22] alexmercerind commented on #28
pub.dev version is exactly same as GitHub version.

Glad to hear.

[2021-03-05 08:22] #28 closed

[2021-03-05 11:54] alexmercerind commented on #23
Hi there @gkovac42!

I know I'm late to inform you, but I'm back to development on this project.
Sorry, I was not involved in development too much back then.

Please consider trying out the plugin now.

All the issues, related to multiple instances or calling load twice etc. mentioned by you, should be fixed now.

Thanks,
alexmercerind.

[2021-03-05 21:22] syleishere commented on #25
The stream has way to much stuff going through it, in the example try slowly dragging the slider to forward the song, its going to take a VERY long time for eventloop to catch up. If you just click anywhere on slider that would obviously work.

[2021-03-05 21:28] syleishere commented on #26
HOw did you pull it off with timer and provider? I have a weird situation as follows below where I can't seem to get it to play after song stops, yet it i click Play on player it works again calling same code? Strange it almost seems like it needs a pause of a second or 2, I'll keep trying...

    if (Platform.isWindows || Platform.isLinux || Platform.isMacOS) {
      desktopPlayer = new AudioPlay

[2021-03-05 21:43] syleishere commented on #26
Just for reference this is audioStart:

  audioStart() async {
    print("Do we make it here 4?");
    String mp3 = 'Z:/mp3/newday.mp3';
    print("Entering play function, Stats are completed: ${desktopPlayer.audio.isCompleted} stopped: ${desktopPlayer.audio.isStopped}");
    if (desktopPlayer.audio.isStopped || desktopPlayer.audio.isCompleted) {
      await desktopPlayer.load(AudioSource.fromFile

[2021-03-05 23:47] syleishere commented on #26
I got it to work, it needs a timeout for whatever reason after it returns completed, I changed
audioStart to:
            Timer(Duration(seconds:1),(){
              print("awake going to start SONG NOW!!!");
              audioStart();
            });

and everything works now, not sure why....

[2021-03-06 03:12] alexmercerind commented on #25
@syleishere
Its not because of stream being bloated, its because its just a `Stream.periodic` with refresh duration of 100ms.

And, delay is caused by miniaudio. As one is not supposed to not change position every millisecond one drags, I haven't implemented any such condition to just ignore too many subsequent calls. So, just click on the slider somewhere for now.

[2021-03-06 03:16] alexmercerind commented on #26
@syleishere ,

miniaudio itself has default behaviour of repeating the sound. It is actually intentionally removed by me, so that I can get a bit more control over the playback & stream.
I'll add whole separate `Queue` class for dealing with repeat, playlist etc. It will be all Dart side code.

I'm not familiar with advanced Dart like rx etc. So, that's also might be bit of problem in how things a

[2021-03-06 03:19] alexmercerind commented on #26
You are supposed to class load again, once the audio completes (then, play would work). You can listen to `isCompleted` event for that.

Currently ,everything is just shown to be functional & working to use. I'm not sure about any behaviour etc., I might change if people say.

[2021-03-06 03:21] alexmercerind commented on #26
A side note after seeing your code.

- `isCompleted` is only true when the file ends (not when the player is stopped). Once, it gets true, it stays for few ms, then `audioPlayer.stop` is called internally.
- `isStopped` indicates whether the file is loaded or not & has nothing to do with position or completion.

`audioPlayer.stop` is more like "unload".

@syleishere... This whole issue is being ta

[2021-03-06 19:40] syleishere commented on #26
Oww ok good to know, I was just checking status of isCompleted on stream so I could detect when song finishes so I could continue playing next song I was thinking for a playlist. My goal here is just to select a folder and have it play every song in it for time being, what is ETA on your queue system you figure if your going to implement that?

[2021-03-06 22:25] syleishere commented on #6
That would be great so works on all desktops. I think end goal should possibly to integrate with https://pub.dev/packages/audio_service, so developers don't have to do both of these. I think the code would need to run in an isolate in background somehow.

[2021-03-06 22:46] syleishere commented on #25
So I ran song looping for over 24 hours on my windows machine without any issues. I found the error seems to be IsCompleted gets set before it should, requiring a call back to eventloop so whatever needs finishing finishes before another song can be started, so I found just tossing another song back in eventloop to start with even a 1 millisecond duration will allow one song to be played after the

[2021-03-06 23:06] syleishere commented on #25
I guess my only suggestion at this point would be if you are going to do a queuing system for songs, to play the songs in a separate isolate so that GUI is not affected for anything other than communicating with the isolate to play a song.  Also so it can utilize another core on the CPU for playing songs :)

I think would be a good idea to do an implementation in pure dart, would keep code clean a

[2021-03-07 05:54] alexmercerind commented on #6
@syleishere.

I agree upon that [audio_service](https://pub.dev/packages/audio_service) is just unnecessary, a single plugin should do it all like [flutter_assets_player](https://github.com/florent37/Flutter-AssetsAudioPlayer).

But, "audio service" things on desktop computers are different than on mobile. The way things are handled on a mobile operating system are different than on a mobile.

Two

[2021-03-07 05:58] alexmercerind commented on #6
@syleishere
BTW, since Flutter for UWP is also on the way, which means I will be able to use modern Windows APIs from C++/winRT headers, since the library i.e. miniaudio I'm using right now doesn't have much that I can do.

So, just settling on one kind of approach will be just not good.

Flutter for Windows & Linux is still in alpha, so there is no way this plugin is going to be stable or product

[2021-03-07 06:01] alexmercerind commented on #26
I don't really spend too much of my time on this plugin, I have other projects I am more interested in. I'm not building any profit by doing this.

This plugin is literally one of the first plugins ever made for Windows or Linux (others are from Flutter team itself), so it takes time to figure it all up.

[2021-03-07 06:02] alexmercerind commented on #26
@syleishere

You can ping me on Discord at alexmercerind#3898, I'm not really having fun in issue threads.

[2021-03-07 06:04] alexmercerind commented on #6
BTW since, both flutter_audio_assets and audio_service actually ask you to add metadata yourself (and do not read from file).

I'll add native stuff to extract media information from the file itself using [flutter_media_metadata](https://github.com/alexmercerind/flutter_media_metadata). I'll bring it to Windows easily.

This will be cool to have.

[2021-03-07 06:08] alexmercerind commented on #6
Ultimate goal of the project will be (for now, if C++/winRT headers didn't end up well for me) to use [libVLC](https://www.videolan.org/vlc/libvlc.html).

And, we all know that nothing can be a better choice than VLC for any kind of media playback / format support. Since, libVLC is cross platform, I don't have to make a separate implementation for Linux (like I have to if I use C++/winRT APIs).

S

[2021-03-07 14:39] DomingoMG commented on #6
From my point of view, I think libVLC is a plugin that could fit in very well, as you mentioned, VLC works cross-platform.

It is good to try other tools to be able to evaluate which one is the best for the project.

One of the complications that could exist is that I do not know if it will be possible to perform a scan of the folders and music files on the desktop, to allow selecting the songs.

[2021-03-07 15:40] syleishere commented on #6
From what I have seen is netflix uses exoplayer not VLC for android, so maybe that is something to look at. VLC would be nice for windows for sure.  Samba support would be nice. From real life parties, I have found all people want is the app to be able to play the video for a song on the google TV chromecast when they say the song outloud over remote or normal google device. Is there a way to get

[2021-03-07 16:26] DomingoMG opened #29 "Audio Devices in time real not working"
I am trying to create a drop down menu where you change the sound card and make it change in the player, but it doesn't work for me.

I have to assign it manually on the system for it to apply.

The storageCache is a storage to know if there is a sound card configured by the user, otherwise it will be obtained by default.

**Example:**
https://www.youtube.com/watch?v=lQDaNkcbJtg

[2021-03-08 07:25] alexmercerind commented on #29
Hi there @DomingoMG !

The `device` that you pass while constructing an `AudioPlayer` object gets stored for that `id` during the whole lifecycle of the program.

Presently the only way to change player is by creating a new `AudioPlayer` instance with new `id` & required device.

(However, that can be changed, but I think I should spend time getting the new libVLC based implementation ready first)

[2021-03-10 20:08] elnurvl opened #30 "Replay or not replay, that is the question."
For some files, the player replays the audio indefinitely, for some others, it plays just once. I could not figure out what is the pattern here.

I am using the example project and running it on Windows.

Flutter version: 2.0.0
Dart version: 2.12.0
Compiler: Visual Studio Community 2019 16.9.1

You can access the audio samples below.

[samples.zip](https://github.com/alexmercerind/flutter_audio_de

[2021-03-10 20:31] alexmercerind commented on #30
Hi there @elnurvl ! 👋

I'm currently working (even right now) on a better implementation of this plugin (from scratch) & it will bring a lot more features & better handling of events/playback on both C++ & Dart side. 😃
Few of the things coming real soon are, network playback, playlists, looping behaviour, way better codec/format support etc. (I'll let you know once I'm done). Learn more [here](htt

[2021-03-12 05:15] yiky84119 opened #31 "Audio auto loop play"
when audio file duration is less than 1 sec ,AudioPlayer play file in loop.

[code]

[music_file.zip](https://github.com/alexmercerind/flutter_audio_desktop/files/6127754/music_file.zip)

[2021-03-12 05:20] alexmercerind commented on #31
Hi there @yiky84119 !

I'm currently working on a better implementation of this plugin which will bring a lot lot better control, usablity & a really better codec/format support.
In-fact, I'm using the really powerful libVLC now, to bring the best audio plugin, that will be ever possible for Windows.

I'm sure that you'll love it & it will be a lot more better in terms of performance & controllabi

[2021-03-12 05:22] alexmercerind commented on #31
Since, this plugin is one of the very first plugins ever made for Windows, so I was still figuring out the things.

Now, I'm close to get the things done, in a better way possible.

On the issue you told, I'm aware why it is happening but I don't wanna spend time improving this badly written code. I've come a long way from there.

[2021-03-12 14:24] alexey55501 opened #32 "Audio playback from Uint8List \ List<int> stream"
Is it possible to implement \ add suport of playing file from raw audio stream?

[2021-03-12 14:38] alexmercerind commented on #32
Hi there @alexey55501 !

miniaudio supports it. But as of now, there is possibly no way to transfer bytes through method channel (if there is, then I'm not aware. Since there isn't much documentation available for making plugins for Windows).

Anyways, why don't you save your bytes to a file first & then pass its path. You can use `getTtemporaryDirectory` to save it there & pass it as `File` for p

[2021-03-12 14:40] alexmercerind commented on #32
I'll also add things like network playback etc. in that version & fix some core issues like format support is really bad currently. And as a pros, it will provide metadata reading support out of the box.

I'll inform you once I get up there. :-) (I'm pretty close too.)

[2021-03-13 00:10] 12people opened #33 "Linux build fails"
When I try to build for Linux (from Linux), I get this output:
[code]

It seems __int64 isn't being recognized by the compiler in these lines of code:
`unsigned __int64 durationPCMFrame;`
`unsigned __int64 positionPCMFrame;`

What can I do about this?

[2021-03-13 00:11] blindjoedeath commented on #33
The same problem

[2021-03-13 00:13] 12people commented on #33
Seems like __int64 is [Microsoft-specific notation](https://docs.microsoft.com/en-us/cpp/cpp/int8-int16-int32-int64?view=msvc-160), equivalent to `long long`.

Could the code be changed to replace __int64 with long long so that it can be compiled from any OS?

[2021-03-13 05:33] alexmercerind commented on #33
Hi there @12people !

You're absolutely correct. I didn't know that `__int64` typedef only exists on Windows. Wait let me just replace it.

[2021-03-13 05:33] alexmercerind commented on #33
Apart from above,

I'm currently working on a better implementation of this plugin which will bring a lot lot better control, usability & a really better codec/format support.
In-fact, I'm using the really powerful libVLC now, to bring the best audio plugin, that will be ever possible for Windows.

I'm sure that you'll love it & it will be a lot more better in terms of performance & controllabilit

[2021-03-13 07:08] narumi147 commented on #9
One suggestion, you can use `git submodule` to add [mackron/miniaudio](https://github.com/mackron/miniaudio) as submodule. Just like a link, you just need to pull the updates several weeks or months.

The flutter_qjs project also uses this way to add its c++ library as a submodule.

[2021-03-13 07:31] alexmercerind commented on #9
@narumishi, thanks for the tip!

Though I'm working on a better implementation of this project. Now I'm fetching dependencies using CMake.

This repository will be marked as archived soon, I believe.

[2021-03-13 07:53] narumi147 commented on #9
@alexmercerind Just do it in your way, since I'm not familiar with C/C++ programming.

Archived means the repo will be merged//migrated to another project? `audioplayers` you mentioned before? (I'm longing for null-safety migration of these two audio packages.)

[2021-03-13 08:08] alexmercerind commented on #9
@narumishi Since, this plugin as you can tell isn't very greatly written (as it was literally first plugin ever made for Windows after Flutter team itself).

Now, I have made a new repository `flutter_vlc`, in which I'm using super powerful libVLC to bring things like network streaming, playlists, better codec/format support & better control over the playback & event handling to Flutter on Windows

[2021-03-13 09:14] narumi147 commented on #9
Excellent work! libVLC should have more potentials on cross-platform, waiting for your publish.

[2021-03-13 12:06] blindjoedeath commented on #33
I installed updated version from github, but now I am getting another error:

`../audioplayer/audioplayer.hpp:8:10: fatal error: 'miniaudio/miniaudio_engine.h' file not found`

I installed miniaudio dependency on my Linux system.

[2021-03-13 12:14] alexmercerind commented on #33
@oscarmoisei

https://github.com/alexmercerind/flutter_audio_desktop/blob/1342211d4f0706585b5d2db11b552e4388f45ea0/.gitignore#L19-L21

You need to place these two files from miniaudio repository to get this to work from github repo.

[2021-03-13 12:29] blindjoedeath commented on #33
@alexmercerind Thank you! That's solved my problem.

By the way, I also had error:

`audioplayer/audioplayer.hpp:134:30: error: unknown type name 'w'`

I guess it's mistype.

[2021-03-13 12:35] alexmercerind commented on #33
@oscarmoisei oh yeah. I'm so stupid

[2021-03-13 12:36] alexmercerind commented on #33
@oscarmoisei
https://github.com/alexmercerind/flutter_audio_desktop/blob/6453b92a283fdf1e1e165907a2c6743afb7e9ca1/audioplayer/audioplayer.hpp#L134

Please remove that "w" and it will work. I'm making commit for it aswell.

Apologies for my insane stupidness.

[2021-03-13 12:58] alexmercerind commented on #33
@oscarmoisei

As I said earlier that I'm working on better implementation of this plugin.

Here are few things that work on Flutter for Windows now (project is still private):
![main2](https://user-images.githubusercontent.com/28951144/111030673-9435a000-8429-11eb-8fad-1fbe33d4b010.PNG)
![111026786-4b262180-8412-11eb-966b-cb7610626219](https://user-images.githubusercontent.com/28951144/111030753-0

[2021-03-13 13:00] blindjoedeath commented on #33
@alexmercerind That's great! You are doing a great job

[2021-03-13 20:28] narumishi opened #34 "[Windows]Incompatible with package file_picker_cross"
If I use `flutter_audio_desktop 0.1.0`(just depend in `pubspec.yaml`) and any recent version of `file_picker_cross` together inside one project, once file picker is called, the program will run into stuck - "not responding", the file chooser window is not shown yet. You need to force close it.

`flutter_audio_desktop 0.0.8` works fine. Maybe there are some conflicts of platform-specific codes in v

[2021-03-14 05:17] alexmercerind commented on #34
Hi there @narumishi !

Nice to see that people are actually wanting this project to be alive. But I'm not dealing with issues presently on this repository. I appreciate your comprehensive bug report.
![111030673-9435a000-8429-11eb-8fad-1fbe33d4b010](https://user-images.githubusercontent.com/28951144/111058146-6cd6e580-84b2-11eb-9bb1-3146c477d754.png)
Even the videos work 😉
![111030698-bdeec700-842

[2021-03-14 05:19] alexmercerind commented on #34
As I said, since Dart FFI is stable now... I want to get an audio/video playback library for Dart aswell (not just Flutter). So I'm experimenting with FFI currently.

I have a kinda busy schedule till 16 of this month. I won't be able to get much covered. But a lot after that.

I also can't wait to get it out for you. I have a collaborator testing the things I make along the way, so I'm real serio

[2021-03-15 04:11] maks commented on #33
@alexmercerind thanks for making this great package. I also got caught out by the missing miniaudio headers and .gitignore is nto really the first place I would think to look for that - maybe would be worthwhile putting this in a build section in the Readme?
Also it looks like you are planning to more away from using miniaudio, is that correct?

[2021-03-15 04:16] alexmercerind commented on #33
Hi @maks !

Glad you liked what I did.
Sorry for the miniaudio confusion. I didn't check those headers in the source control because no one really used the version from git.

Yep! You are right. I have nearly completed a better, performant, controllable and more codec supporting plugin instead of this one. Now I'm using libVLC, I'll make that plugin public today.

I'll also bring it to plain Dart

[2021-03-15 04:17] alexmercerind commented on #33
Currently I'm building that libVLC version, so I'm unable to fix the problems in this package. This package really has some big problems in general.

[2021-03-15 04:48] maks commented on #33
@alexmercerind thanks for the very quick reply! Yes I've seen now the discussion thread on just_audio package windows support issue.
For my use case,  I need something lightwieght for linux for a sythesizer audio playback and need it to be useable from pure Dart too, so miniaudio is much better for that than libVLC, so I may end up forking the current version of this library as I think it makes se

[2021-03-15 11:17] maks commented on #31
@alexmercerind I've come across this as well on Linux. If you've already identified why this was happening, could you point me to where the problem is to save me the time of my (re) finding it on my own?

[2021-03-15 11:19] alexmercerind commented on #31
@maks. As I said on the other thread, whole approach is the problem. I've got rid of it on Windows, but on Linux, I'm yet to write everything.

[2021-03-15 11:22] alexmercerind commented on #31
@maks.

I'll improve this miniaudio implementation in future. Right now, I'm diverted towards the libVLC version (And FFI).

[2021-03-15 14:09] alexmercerind commented on #31
Anyways, I just noticed this is same as #30.

[2021-03-15 14:09] #31 closed

[2021-03-15 19:36] alexmercerind commented on #34
Hello @narumishi !

I've made my libVLC based project public [here](https://github.com/alexmercerind/dart_vlc).

This will be sequel to this package, although I'll still maintain this one if someone needs miniaudio.

[2021-03-15 22:42] maks commented on #30
Thanks @alexmercerind jumping over here from #30.

And no worries at all, completely understand you wanting to focus on the new libvlc based version and I completely agree using FFI is the better approach for an audio package, using platform channels will just add latency which is the last thing you want in a audio application and you still have the restriction of using platform channels only from

[2021-03-16 06:16] alexmercerind commented on #30
Hello @maks!
I don't know how its going for you, but it is not going to be easy to provide FFI bindings as of now. I've done a lot of research now to switch to FFI in future.

You can address `miniaudio` from Dart but taking events/callbacks from other thread of miniaudio is very hard as of now. You should see [this](https://github.com/dart-lang/sdk/issues/37022) for an alternative approach to rec

[2021-03-16 06:17] alexmercerind commented on #30
One other problem with FFI in general is that, it is not "streamlined" to use. One cannot run CMake for plain Dart apps.

(This comment is kinda misleading... sorry)

[2021-03-16 07:35] alexmercerind commented on #6
I've made request for collaboration (on the issue you mentioned). The things are under progress now. 🎉

Looking forward to make Flutter more homely for Windows & Linux.

[dart_vlc](https://github.com/alexmercerind/dart_vlc) is the new project having things like playlists, network streaming & many other things in it. It is sequel to this project, though I'll possibly still maintain this plugin.

[2021-03-16 07:35] #6 closed

[2021-03-16 10:23] narumi147 commented on #34
@alexmercerind wonderful, starred it. Hope it will be popular!

[2021-03-17 11:16] alexmercerind commented on #33
Hello @12people & @oscarmoisei !

Thanks for supporting this project. Now libVLC based alternative to this project is live:
[dart_vlc](https://github.com/alexmercerind/dart_vlc)

It has (in addition to this project):
- Playlists.
- Network streaming.
- Better controls.
- Separated event streams.
- More performance & stability.
- And most importantly, better codec/format support.

Other features ar

[2021-03-17 11:18] alexmercerind commented on #34
@narumishi thankyou! Now it is also supported on Linux. It has a lot more features than this plugin & a left list of more upcoming features ✨.

Let me know, if you discover any issues on that repo. I'll be marking this project as archived for now.

[2021-03-17 11:20] alexmercerind commented on #30
Hello @elnurvl  !

Thanks for supporting this project. Now libVLC based alternative to this project is live:
[dart_vlc](https://github.com/alexmercerind/dart_vlc)

Since, this project didn't make use of callbacks, but a timeout based `Stream`, thus this problem was bound to happen. The new plugin will fix this issue. Please consider switching.

It has (in addition to this project):
- Playlists.
-

[2021-03-17 11:21] alexmercerind commented on #25
Hi there @UdithaIshan !
I hope you are doing great.

Thanks for supporting this project. Now libVLC based alternative to this project is live:
[dart_vlc](https://github.com/alexmercerind/dart_vlc)

It has (in addition to this project):
- Playlists. (The feature you asked for! ✨✨✨)
- Network streaming.
- Better controls.
- Separated event streams.
- More performance & stability.
- And most importan